$defaultFontSize: 16;

$primary: #2e294e;
$secondary: #1b998b;
$warn: #d7263d;
$accent: #c5d86d;
$white: #fff;
$black: #000;


$colors: (
    primary: $primary,
    secondary: $secondary,
    warn: $warn,
    accent: $accent
);
